<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
	<title>{{ page.title }}</title>
	<meta content="Chad Burggraf" name="author"/>
	<link type="text/css" rel="stylesheet" href="/assets/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="/assets/css/screen.css"/>
	<link type="text/css" rel="stylesheet" href="/assets/css/print.css" media="print"/>
</head>
<body>
	<div id="container">
		<div id="page">
			<div id="content-box">